.days-container {
  display: block;
  /** @Media  */
  @media screen and (max-width: 1440px) {
    display: flex;
    position: relative;

    width: 420px;
    margin: 0 auto 20px;

    justify-content: center;
  }
  @media screen and (max-width: 479px) {
    width: 95%;
  }
  /** @Media  */
}
